<!--#1 This line of code tells the templating engine (Jinja) to use "base.html" as the template for this page. .-->
{% extends "base.html" %}

<!--#2.This block inserts a custom title into the header of the template-->
{% block title %}Access Denied{% endblock %}

{% block styling %}
    {{ super() }}
    h1 {
        color: red;
    }
{% endblock %}


<!--#3. This block provides the content of the website. The part that is going to vary between webpages-->
{% block content %}
   <div class="container">
      <h1>Access Denied </h1>
		<iframe src="https://giphy.com/embed/1xeVd1vr43nHO" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
		<p><a href="https://giphy.com/gifs/cheezburger-funny-dog-fails-1xeVd1vr43nHO">via GIPHY</a></p>
   </div>
{% endblock %}
