<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<div class="container">
			<h1>Login</h1>
			<!-- This is where our form will go. -->
			<form method="POST" action="{{ url_for('login') }}">
				{{ form.csrf_token }}
				<p>
					{{ form.email.label }} <br> {{ form.email(size=30, autofocus=true, class="css_class") }}
<!--					{% if form.email.errors %}-->
<!--					<span style="color:red">-->
<!--						{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}-->
<!--					</span>-->
<!--					{% endif %}-->
				</p>
				<p>
					{{ form.password.label }} <br> {{ form.password(size=30) }}
				</p>
				{{ form.submit }}
			</form>
        </div>
	</body>
</html>
