<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    {% for post in posts: %}
        {% if post.id % 2 != 0: %}
            <h1>{{ post.title }}</h1>
            <p>{{ post.subtitle }}</p>
        {% else: %}
            <h1><em>parzysty:</em> {{ post.title }}</h1>
            <p><em>parzysty:</em> {{ post.subtitle }}</p>
        {% endif %}
    {% endfor %}
</body>

<footer>
    <p>Copyright {{date}} </p>
</footer>
</html>